
  @import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@600&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto Mono', monospace;
}

body {
    min-height:100vh;
    width: 100vw; 
    background-color: #000;
    display:flex;
    justify-content: center;
    align-items: center;
    background-image: url(https://i.pinimg.com/originals/63/7a/4d/637a4d42e1738853b2f96ffbbd60622a.gif);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.container {
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 20px;
}
.heading h1 {
    margin: 10px;
    font-size: 2rem;
    color: black;
    background-color: #f6f6f6;
    padding: 10px 15px;
    border-radius: 5px;
}
.heading p {
    font-size: 1.6rem;
}
.input button {
    padding: 15px 15px;
    width: fit-content;
    border-radius: 5px;
    outline: none;
    border: none;
    cursor: pointer;
}

.input button:hover {
    background-color: gold;
    transition: 0.4s ease;
}
@media only screen and (max-width: 600px) {
    .input button span {
        font-size: 0.7rem;
    }
    .heading h1 {
        padding: 10px;
    }
  }

